*{
    font-family: 'Poppins', sans-serif;
}

.fondo{
    width: 100vw;
    height: 650px;
    margin-top: -20px;
    margin-left: -20px;
}

.color{
    background-color: rgba(21, 137, 0, 0.256);
    width: 100vw;
    height: 650px;
    margin-top: -655px;
    z-index: 1;
    position: absolute;

    margin-left: -20px;
}

.titulo{
    color: #ffffff;
    font-size: 170px;
    margin-top: -660px;
    margin-left: 520px;
    position: absolute;
    z-index: 2;
}

#p1{
    align-content: center;
    align-items: center;
}